.h1 {
font-family: 'Roboto',helvetica, arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
}
.h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #252525;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px;
    align-items: center;


}

.menu
{
width: max-content;
block-size: max-content;
padding: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
justify-self:flex-end;
}
#logo{
margin-right: 25%;
order: 0;
}

.aside{
height: fit-content;
display: flex;
flex-direction: row;
justify-content: center;

}
.aside-div{
padding: 4%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
width: min-content;
}

#myphoto{
  align-items: start;
  justify-content: center;
    width: 286px;
    height: 260px;
}
.icon{
    display: flex;
    margin: 3%;
    justify-content:space-around;
    
}

.rightside{
    width:outo;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-self: right;
    align-self: center;
}
.rightside img{
    padding: 10px;
}


