.h1 {
font-family: 'Roboto',helvetica, arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
}
.h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #252525;
}
.nav{
    border: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    position: relative;
    width: 1048px;
    height: 107px;
    left: calc(50% - 1048px/2);

}

.menu
{
width: max-content;
block-size: max-content;
padding: 4%;
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
}
#logo{
 margin-left: 30px;
 margin-right: auto;
}

.aside{
width: 29%;
height: fit-content;
float: left;
margin-left: 170px;
}
.aside-div{
padding: 4%;
margin: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
}

#myphoto{
    width: 286px;
    height: 260px;
    left: 207px;
    top: 199px;
}
.icon{
    margin: 3%;
}

.body{
    width:outo;
    height: fit-content;
}
.selectedproj{
    margin: 1%;
}

